{% extends 'base.html' %}

{% load humanize %} {% load static %}

{% block title %} | Search Results {% endblock %}

{% block content %}
<script async defer
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCVeIhK0QtZ--Y6VF8XmnSrLfVzPqo4nZs&callback=initMap">
</script>

<section id="showcase-inner" class="showcase-search text-primary py-5">
  <div class="container">
    <div class="row text-center">
      <div class="col-md-12">
        <form action="{% url 'search' %}">
          <!-- Form Row 1 -->
          <div class="form-row">
            <div class="col-md-4 mb-3">
              <label class="sr-only">Keywords</label>
              <input
                type="text"
                name="keywords"
                class="form-control"
                placeholder="Keyword (Pool, Garage, etc)"
                value="{{ values.keywords }}"
              />
            </div>

            <div class="col-md-4 mb-3">
              <label class="sr-only">City</label>
              <input
                type="text"
                name="city"
                class="form-control"
                placeholder="City"
                value="{{ values.city }}"
              />
            </div>

            <div class="col-md-4 mb-3">
              <label class="sr-only">State</label>
              <select name="state" class="form-control">
                <option selected="true" disabled="disabled">State (All)</option>
                {% for key, value in state_choices.items %}
                    <option value="{{ key }}"
                      {% if key == values.state %}
                          selected
                      {% endif %}
                    >
                      {{ value }}
                    </option>
                {% endfor %}
              </select>
            </div>
          </div>
          <!-- Form Row 2 -->
          <div class="form-row">
            <div class="col-md-6 mb-3">
              <label class="sr-only">Bedrooms</label>
              <select name="bedrooms" class="form-control">
                <option selected="true" disabled="disabled"
                  >Bedrooms (Any)</option
                >
                {% for key, value in bedroom_choices.items %}
                    <option value="{{ key }}"
                    {% if key == values.bedrooms %}
                      selected
                    {% endif %}
                    >
                      {{ value }}
                    </option>
                {% endfor %}
              </select>
            </div>
            <div class="col-md-6 mb-3">
              <select name="price" class="form-control">
                <option selected="true" disabled="disabled"
                  >Max Price (All)</option
                >
                {% for key, value in price_choices.items %}
                    <option value="{{ key }}"
                    {% if key == values.price %}
                      selected
                    {% endif %}
                    >{{ value }}
                    </option>
                {% endfor %}
              </select>
            </div>
          </div>
          <button class="btn btn-secondary btn-block mt-4" type="submit">
            Submit form
          </button>
        </form>
      </div>
    </div>
  </div>
</section>

<!-- Breadcrumb -->
<section id="bc" class="mt-3">
  <div class="container">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="{% url 'index' $}"> <i class="fas fa-home"></i> Home</a>
        </li>
        <li class="breadcrumb-item">
          <a href="listings.html">Browse Listings</a>
        </li>
        <li class="breadcrumb-item active">Search Results</li>
      </ol>
    </nav>
  </div>
</section>

<div class="container">
  <div id="map">
  </div>
</div>

<!-- Listings -->
<section id="listings" class="py-4">
  <div class="container">
    <div class="row search-list-scroll">
      <!-- Listing 1 -->
      {% if listings %}
        {% for listing in listings %}

          <div class="col-md-12" id="{{ listing.id }}" >
            <a href="{% url 'listing' listing.id %}" >
              <div class="card listing-preview">
                
                <img class="card-img-top" src="{{ listing.photo_main.url }}" alt="">
                <div class="card-img-overlay">
                    <h2>
                      <span class="badge badge-secondary text-white">{{ listing.list_date | timesince }}</span>
                    </h2>
                  </div>
                <div class="card-body blue-bottom-border">
                  <div class="listing-heading">
                    <h4 class="text-primary">${{ listing.price | intcomma }} <span class="house-feats">{{ listing.bedrooms }} bds | {{ listing.bathrooms }} ba | {{ listing.sqft | intcomma }} sqft</span></h4>
                    <p>{{ listing.title }}, {{ listing.city }}, {{ listing.state }}, {{ listing.zipcode }}</p>
                  </div>
                </div>
              </div>
            </a>
          </div>
       
        {% endfor %}
        {% else %}
        <div class ="col-md-12">
            <p>No listings available</p>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</section>

<script type="text/javascript">
  
  var map, geocoder, start_pos;
  function initMap() {

    geocoder = new google.maps.Geocoder();

    var start_address = "{{ listings.0.title }} {{ listings.0.city }}, {{ listings.0.state }} {{ listings.0.zipcode }}";

    function runMap(){ 
      geocoder.geocode({
        'address': start_address
      }, function(results, status) {
        if (status === 'OK') {
            start_pos =  results[0].geometry.location
            map = new google.maps.Map(document.getElementById('map'), {
              center: start_pos,
              zoom: 9,
              mapTypeControl: false
            });
  
            var styles = {
              hide: [{
                elementType: 'labels.icon',
                stylers: [{
                  visibility: 'off'
                }]
                
              }]
            };
          
            map.setOptions({
              styles: styles['hide']
            });
  
            /*var iconBox = {
              path: 'M 125,5 155,90 245,90 175,145 200,230 125,180 50,230 75,145 5,90 95,90 z',
              fillColor: 'green',
              fillOpacity: 0.8,
              scale: 1,
              strokeColor: 'green',
              strokeWeight: 14
            }*/
            var limit = 50;
            var count = 1;
  
            {% for listing in listings %}
  
            var address = "{{ listing.title }} {{ listing.city }}, {{ listing.state }} {{ listing.zipcode }}"
  
  
            geocoder.geocode({
              'address': address
            }, function(results, status) {
              if (status === 'OK' && count <= 50) {
  
                var k_price = "{{ listing.price }}";
  
                k_price = String(Math.floor(parseInt(k_price) / 1000));
                
                var contentString = `
                  <div>
                    <img class="info-image" src="{{ listing.photo_main.url }}" />
                    <div class="info-text">
                      <b>$${k_price}k</b><br>
                      {{ listing.bedrooms }} bd, {{ listing.bathrooms }} br<br>
                      {{ listing.sqft | intcomma }} sqft
                    </div>
                  </div>
                  `;
  
                var infoWindow = new google.maps.InfoWindow({
                  content: contentString
                });
          
                var marker = new google.maps.Marker({
                  map: map,
                  position: results[0].geometry.location,
                  icon: {
                    url: "{% static 'img/house-icon.png' %}",
                    //labelOrigin: new google.maps.Point(7,20),
                  },
                  label: {
                    text: `$${k_price}k`,
                    color: '#FFFFFF',
                    fontSize: '10px'
                  }
                });

                marker.addListener('mouseover', function() {
                  infoWindow.open(map, marker);
                  marker.setIcon("{% static 'img/house-icon-h.png' %}")
                  marker.addListener('mouseout', function() {
                    infoWindow.close(map, marker);
                    marker.setIcon("{% static 'img/house-icon.png' %}")
                  });
                });

                var houseId = document.getElementById('{{ listing.id }}');
                houseId.addEventListener('mouseover', function() {
                  infoWindow.open(map, marker);
                  marker.setIcon("{% static 'img/house-icon-h.png' %}")
                  houseId.addEventListener('mouseout', function() {
                    infoWindow.close(map, marker);
                    marker.setIcon("{% static 'img/house-icon.png' %}")
                  })
                })
  
                marker.addListener('click', function() {
                  window.location.href = "{% url 'listing' listing.id %}"
                });
                count = count + 1;
                              
              }            
            });
            {% endfor %}
            //map.addListener('dragend', function() {
            //  runMap(map.getCenter())
            // })
  
            
        } else {
          alert('Geocode was not successful for the following reason: ' + status);
        }
      });
    }
    runMap()

}

//document.getElementById('search').addEventListener('click', function() {
//  geocodeAddress(geocoder, map);
//});


function geocodeAddress(geocoder, resultsMap) {
  var address = document.getElementById('search_bar').value;
  geocoder.geocode({
    'address': address
  }, function(results, status) {
    if (status === 'OK') {
      resultsMap.setCenter(results[0].geometry.location);
      var marker = new google.maps.Marker({
        map: resultsMap,
        position: results[0].geometry.location
      });
    } else {
      alert('Geocode was not successful for the following reason: ' + status);
    }
  });
}
</script>
{% endblock %}

